.img-block-8 {
  grid-column: 6/7;
  grid-row: 3/4;
}

@media (max-width: 992px) {
  .img-block-8 {
    grid-column: 2/4;
    grid-row: 5/6;
  }
}

@media (max-width: 768px) {
  .img-block-8 {
    grid-column: 2/3;
    grid-row: 8/9;
  }
}