.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/3;
  grid-row: 1/3;
}

.company__heading {
  font-size: 64px;
  line-height: 70.4px;
  font-weight: 600;
  text-transform: uppercase;
  width: 330px;
  margin: auto;
}

.company__socials {
  margin: auto;
  display: flex;
  list-style: none;
  padding: 0;
}

.socials__el {
  margin-right: 24px;
}

.socials__el:last-child {
  margin-right: 0;
}