.doors-img {
  grid-column: 5/6;
  grid-row: 2/4;
}

@media (max-width: 992px) {
  .doors-img {
    grid-column: 1/2;
    grid-row: 4/6;
  }
}

@media (max-width: 768px) {
  .doors-img {
    grid-column: 1/2;
    grid-row: 7/9;
  }
}