.girl-in-leaves-img {
  grid-column: 3/5;
  grid-row: 1/3;
}

@media (max-width: 992px) {
  .girl-in-leaves-img {
    grid-column: 2/4;
    grid-row: 1/2;
  }
}

@media (max-width: 768px) {
  .girl-in-leaves-img{
    grid-column: 1/3;
    grid-row: 3/4;
  }
}